/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.so
*.o
*.a
mkmf.log
*~
debian/eblocker-dns/
debian/eblocker-dns.debhelper.log
debian/eblocker-dns.substvars
debian/files
log
run
vendor
Gemfile.lock
debian/.debhelper
